*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: $font-family-main;
  line-height: 1.6;
  background-color: $color-light-cyan-1;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}
