////////////////////////////////////////
// LEFT

.left {
  width: 30vw;
  padding: 3rem 3.5rem;
}

.input {
  &__label {
  }

  &__field {
    margin-bottom: 2.5rem;
  }
}

.tips {
  &__label {
  }

  &__container {
    width: min-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, calc((100% / 3) - (1.3rem * 2)));
    grid-template-rows: repeat(2, min-content);
    grid-gap: 1.2rem;
    margin-block: 1.2rem;
    box-sizing: border-box;

    & > * {
      font-size: $font-input;
    }
  }

  &__option {
    &--green {
      background-color: $color-dark-cyan;
      color: $color-white;
    }

    &--cyan {
      background-color: $color-strong-cyan;
      color: $color-dark-cyan;
    }

    &--custom {
      background-color: $color-light-cyan-2;
      color: $color-dark-cyan-1;
    }
  }

  &__custom {
  }
}

.people {
  margin-top: 2.5rem;
  width: 100%;
  &__label {
  }

  &__field {
  }
}

////////////////////////////////////////
// RIGHT

.right {
  background-color: $color-dark-cyan;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-left: 0;
  border-radius: 1.8rem;
  padding: 2.5rem 3.5rem;
}

.results {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.amount {
  &__label {
    color: $color-white;
    font-size: 1.4rem;
    &--span {
      color: $color-dark-cyan-2;
    }
  }

  &__number {
    color: $color-strong-cyan;
    text-align: right;
    font-size: 3.5rem;
  }
}

.reset {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: auto;
}
