////////////////////////////////////////
// LOGO

.logo {
  margin-bottom: 6rem;
  margin-top: 10vh;
}

////////////////////////////////////////
// LEFT

.left {
  width: 43rem;
  padding: 3rem 3.5rem;
  padding-bottom: 4rem;
}

.input {
  &__label {
  }

  &__field {
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 1.5rem;
    margin-bottom: 3rem;

    &:active,
    &:focus {
      @include addBorder;
      margin-bottom: calc(3rem - 0.2rem);
    }
  }
}

.tips {
  z-index: 10;
  &__label {
  }

  &__container {
    //width: fit-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, calc((43rem / 3) - (1.6rem * 2)));
    grid-template-rows: repeat(2, min-content);
    grid-gap: 1.2rem;
    margin-block: 1.2rem;
    box-sizing: border-box;
    padding-bottom: 0.2rem;

    & > * {
      font-size: $font-input;
    }
  }

  &__option {
    &--green {
      background-color: $color-dark-cyan;
      color: $color-white;

      @include activeButton;

      &:focus {
        background-color: $color-strong-cyan;
        color: $color-dark-cyan;
      }
    }

    &--cyan {
      background-color: $color-strong-cyan;
      color: $color-dark-cyan;
    }

    &--custom {
      background-color: $color-light-cyan-2;
      color: $color-dark-cyan-1;
    }
  }

  &__custom {
    box-sizing: border-box;
    &:active,
    &:focus {
      @include addBorder;
      margin: -0.2rem;
    }
  }
}

.people {
  margin-top: 3rem;
  width: 100%;
  z-index: 1;

  &__label {
  }

  &__field {
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 1.5rem;

    &:active,
    &:focus {
      @include addBorder;
      margin: -0.2rem;
    }
  }
}

////////////////////////////////////////
// RIGHT

.right {
  background-color: $color-dark-cyan;
  width: 38rem;
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  margin-left: 0;
  border-radius: 1.8rem;
  padding: 3.8rem 3.5rem;
}

.results {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.amount {
  &__label {
    color: $color-white;
    font-size: 1.4rem;
    &--span {
      color: $color-dark-cyan-2;
    }
  }

  &__number {
    color: $color-strong-cyan;
    text-align: right;
    font-size: 3.9rem;
  }
}

.reset {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: auto;

  @include activeButton;
}
