.container {
  height: 100vh;

  display: flex;
  align-items: center;
}

.app {
  width: min-content;
  background-color: $color-white;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
