$color-strong-cyan: hsl(172, 67%, 45%);
$color-error: hsl(14, 85%, 56%);

$color-dark-cyan: hsl(183, 100%, 15%);
$color-dark-cyan-1: hsl(186, 14%, 43%);
$color-dark-cyan-2: hsl(184, 14%, 56%);

$color-light-cyan-1: hsl(185, 41%, 84%);
$color-light-cyan-2: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);

$font-input: 2.4rem;
$font-labels: 1.4rem;

$font-family-main: "Space Mono", monospace;

@mixin addBorder {
  border: 0.2rem solid $color-strong-cyan;
}

@mixin activeButton {
  &:hover {
    background-color: $color-strong-cyan;
    color: $color-dark-cyan;
    filter: brightness(130%) saturate(40%);
  }

  &:active {
    filter: brightness(100%) saturate(100%);
    color: $color-dark-cyan;
  }
}
