*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: "Space Mono", monospace;
  line-height: 1.6;
  background-color: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.app {
  width: 84.7rem;
  background-color: white;
  border-radius: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -webkit-box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.07);
          box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.07);
}

.logo {
  margin-bottom: 6rem;
  margin-top: 10vh;
}

.left {
  width: 43rem;
  padding: 3rem 3.5rem;
  padding-bottom: 4rem;
}

.input__field {
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 1.5rem;
  margin-bottom: 3rem;
}

.input__field:active, .input__field:focus {
  border: 0.2rem solid #26c0ab;
  margin-bottom: calc(3rem - 0.2rem);
}

.tips {
  z-index: 10;
}

.tips__container {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc((43rem / 3) - (1.6rem * 2)))[3];
      grid-template-columns: repeat(3, calc((43rem / 3) - (1.6rem * 2)));
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-gap: 1.2rem;
  margin-block: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0.2rem;
}

.tips__container > * {
  font-size: 2.4rem;
}

.tips__option--green {
  background-color: #00494d;
  color: white;
}

.tips__option--green:hover {
  background-color: #26c0ab;
  color: #00494d;
  -webkit-filter: brightness(130%) saturate(40%);
          filter: brightness(130%) saturate(40%);
}

.tips__option--green:active {
  -webkit-filter: brightness(100%) saturate(100%);
          filter: brightness(100%) saturate(100%);
  color: #00494d;
}

.tips__option--green:focus {
  background-color: #26c0ab;
  color: #00494d;
}

.tips__option--cyan {
  background-color: #26c0ab;
  color: #00494d;
}

.tips__option--custom {
  background-color: #f4fafa;
  color: #5e7a7d;
}

.tips__custom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tips__custom:active, .tips__custom:focus {
  border: 0.2rem solid #26c0ab;
  margin: -0.2rem;
}

.people {
  margin-top: 3rem;
  width: 100%;
  z-index: 1;
}

.people__field {
  background-image: url(../images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 1.5rem;
}

.people__field:active, .people__field:focus {
  border: 0.2rem solid #26c0ab;
  margin: -0.2rem;
}

.right {
  background-color: #00494d;
  width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.5rem;
  margin-left: 0;
  border-radius: 1.8rem;
  padding: 3.8rem 3.5rem;
}

.results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount__label {
  color: white;
  font-size: 1.4rem;
}

.amount__label--span {
  color: #7f9c9f;
}

.amount__number {
  color: #26c0ab;
  text-align: right;
  font-size: 3.9rem;
}

.reset {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: auto;
}

.reset:hover {
  background-color: #26c0ab;
  color: #00494d;
  -webkit-filter: brightness(130%) saturate(40%);
          filter: brightness(130%) saturate(40%);
}

.reset:active {
  -webkit-filter: brightness(100%) saturate(100%);
          filter: brightness(100%) saturate(100%);
  color: #00494d;
}

.label {
  font-size: 1.4rem;
  color: #5e7a7d;
  margin-block: 0.5rem;
}

.field {
  font-size: 2.4rem;
  font-family: inherit;
  font-weight: 700;
  color: #00494d;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f4fafa;
  text-align: right;
}

.tip {
  font-family: inherit;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding-block: 0.6rem;
  /* &:not(:last-child) {
    padding-inline: 3rem;
  } */
}

.tip-pick {
  background-color: #26c0ab;
  -webkit-filter: brightness(100%) saturate(100%);
          filter: brightness(100%) saturate(100%);
  color: #00494d;
}

.focus-error {
  border: 0.2rem solid #ee5c2f;
}
/*# sourceMappingURL=main.css.map */